<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BannerMapper">

    <sql id="Base_Column_List">
        id,img,business_id
    </sql>

    <select id="selectAll" resultType="com.example.entity.Banner">
        select
        banner.*, business.name as businessName
        from banner
        left join business
        on banner.business_id = business.id
        <where>
            <if test="id != null"> and banner.id = #{id}</if>
            <if test="img != null"> and banner.img like concat('%', #{img}, '%')</if>
            <if test="businessId != null"> and banner.business_id = #{businessId}</if>
            <if test="businessName != null"> and business.name like concat('%', #{businessName}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Banner">
        select
        <include refid="Base_Column_List" />
        from banner
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from banner
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Banner" useGeneratedKeys="true">
        insert into banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="img != null">img,</if>
            <if test="businessId != null">business_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="img != null">#{img},</if>
            <if test="businessId != null">#{businessId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Admin">
        update banner
        <set>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="businessId != null">
                business_id = #{businessId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>