<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BusinessMapper">

    <insert id="insert" parameterType="com.example.entity.Business" useGeneratedKeys="true">
        insert into business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="phone != null">phone,</if>
            <if test="info != null">info,</if>
            <if test="address != null">address,</if>
            <if test="license != null">license,</if>
            <if test="status != null">status,</if>
            <if test="timeRange != null">time_range,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="phone != null">#{phone},</if>
            <if test="info != null">#{info},</if>
            <if test="address != null">#{address},</if>
            <if test="license != null">#{license},</if>
            <if test="status != null">#{status},</if>
            <if test="timeRange != null">#{timeRange},</if>
            <if test="type != null">#{type},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Business">
        update business
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="info != null">
                info = #{info},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="license != null">
                license = #{license},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="timeRange != null">
                time_range = #{timeRange},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from business where id = #{id}
    </delete>

    <select id="selectAll" parameterType="com.example.entity.Business" resultType="com.example.entity.Business">
        select * from business
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by id desc
    </select>

</mapper>