<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CollectMapper">

    <sql id="Base_Column_List">
        id,business_id,user_id,time
    </sql>

    <select id="selectAll" resultType="com.example.entity.Collect">
        select
        collect.*, business.name as businessName, user.name as userName
        from collect
        left join business
        on collect.business_id = business.id
        left join user
        on collect.user_id = user.id
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="businessId != null"> and business_id = #{businessId}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Collect">
        select
        <include refid="Base_Column_List" />
        from collect
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from collect
        where  id = #{id}
    </delete>

    <delete id="deleteByCondition">
        delete from collect
        <where>
            <if test="businessId != null">
                and business_id = #{businessId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </delete>

    <insert id="insert" parameterType="com.example.entity.Collect" useGeneratedKeys="true">
        insert into collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="businessId != null">business_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Collect">
        update collect
        <set>
            <if test="businessId != null">
                business_id = #{businessId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>